/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: #c9dbe9;
    background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/*Custom CSS for Icons*/
.icon {
    position: relative;
    display: inline-block;
    font-size: 1em; /* control icon size here */
}

.rain,
.lightning,
.snow {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 3.75em;
    height: 3.75em;
    margin: 0.375em 0 0 -2em;
}

    .rain:after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        width: 1.125em;
        height: 1.125em;
        margin: -1em 0 0 -0.25em;
        background: #0cf;
        border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
        box-shadow: 0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2), -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2), -1.375em -0.125em 0 rgba(255,255,255,0.2);
        transform: rotate(-28deg);
        animation: rain 3s linear infinite;
    }

.bolt {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.25em 0 0 -0.125em;
    color: #fff;
    opacity: 0.3;
    animation: lightning 2s linear infinite;
}

    .bolt:nth-child(2) {
        width: 0.5em;
        height: 0.25em;
        margin: -1.75em 0 0 -1.875em;
        transform: translate(2.5em, 2.25em);
        opacity: 0.2;
        animation: lightning 1.5s linear infinite;
    }

    .bolt:before,
    .bolt:after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        margin: -1.625em 0 0 -1.0125em;
        border-top: 1.25em solid transparent;
        border-right: 0.75em solid;
        border-bottom: 0.75em solid;
        border-left: 0.5em solid transparent;
        transform: skewX(-10deg);
    }

    .bolt:after {
        margin: -0.25em 0 0 -0.25em;
        border-top: 0.75em solid;
        border-right: 0.5em solid transparent;
        border-bottom: 1.25em solid transparent;
        border-left: 0.75em solid;
        transform: skewX(-10deg);
    }

    .bolt:nth-child(2):before {
        margin: -0.75em 0 0 -0.5em;
        border-top: 0.625em solid transparent;
        border-right: 0.375em solid;
        border-bottom: 0.375em solid;
        border-left: 0.25em solid transparent;
    }

    .bolt:nth-child(2):after {
        margin: -0.125em 0 0 -0.125em;
        border-top: 0.375em solid;
        border-right: 0.25em solid transparent;
        border-bottom: 0.625em solid transparent;
        border-left: 0.375em solid;
    }



/* Animations */

@keyframes lightning {
    45% {
        color: #fff;
        background: #fff;
        opacity: 0.2;
    }

    50% {
        color: #0cf;
        background: #0cf;
        opacity: 1;
    }

    55% {
        color: #fff;
        background: #fff;
        opacity: 0.2;
    }
}


div.widget {
    position: relative;
    width: 500px;
    height: 225px;
    margin: 70px auto;
    background-color: #fcfdfd;
    border-radius: 9px;
    padding: 25px;
    padding-right: 30px;
    box-shadow: 0px 31px 35px -26px #080c21;
}

div.left-panel {
    width: 50%;
}

div.date {
    font-size: 14px;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
}

div.city {
    font-size: 21px;
    padding-top: 5px;
    color: rgba(0,0,0,0.7);
}

    div.city img {
        margin-top: -2px;
    }

div.temp {
    font-size: 81px;
    color: rgba(0,0,0,0.9);
    font-weight: 100;
    margin-top: -25px;
}

    div.temp img {
        margin-top: -10px;
    }

div.panel {
    display: inline-block;
}

div.right-panel {
    position: absolute;
    float: right;
    top: 0;
    margin-top: 60px;
    padding-left: 10px;
    margin-right: 15px
}

.weather {
    position: relative;
    background-color: #343a40 !important;
    padding: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-family: "Bitter", serif;
    color: #555;
}

.weather__raindrops path {
    fill: #27AAE1;
}

.weather__raindrops--1 {
    -webkit-animation: rain 0.5s 0.2s infinite;
    animation: rain 0.5s 0.2s infinite;
}

.weather__raindrops--2 {
    -webkit-animation: rain 0.5s 0.2s infinite;
    animation: rain 0.5s 0.2s infinite;
}

.weather__raindrops--3 {
    -webkit-animation: rain 0.5s 0.3s infinite;
    animation: rain 0.5s 0.3s infinite;
}

.weather__raindrops--4 {
    -webkit-animation: rain 0.5s 0.4s infinite;
    animation: rain 0.5s 0.4s infinite;
}

.weather__raindrops--5 {
    -webkit-animation: rain 0.5s 0.4s infinite;
    animation: rain 0.5s 0.4s infinite;
}

.weather__raindrops--6 {
    -webkit-animation: rain 1s 0.3s infinite;
    animation: rain 1s 0.3s infinite;
}

.weather__raindrops--7 {
    -webkit-animation: rain 2s 0.2s infinite;
    animation: rain 2s 0.2s infinite;
}

.weather__raindrops--8 {
    -webkit-animation: rain 1s 0.5s infinite;
    animation: rain 1s 0.5s infinite;
}

.weather__raindrops--9 {
    -webkit-animation: rain 1.5s 0.3s infinite;
    animation: rain 1.5s 0.3s infinite;
}

.weather__raindrops--10 {
    -webkit-animation: rain 0.5s 0.3s infinite;
    animation: rain 0.5s 0.3s infinite;
}

.weather__clouds path {
    fill: white;
    stroke: #27AAE1;
    stroke-width: 6;
    stroke-miterlimit: 6;
}

    .weather__clouds path:first-child {
        -webkit-animation: thunder 3s 1s infinite linear;
        animation: thunder 3s 1s infinite linear;
    }

    .weather__clouds path:last-child {
        -webkit-animation: thunder 3s 1.2s infinite linear;
        animation: thunder 3s 1.2s infinite linear;
    }

.weather__lightning polygon {
    fill: #FFE600;
    opacity: 0;
}

    .weather__lightning polygon:first-child {
        -webkit-animation: lightning 3s 1s infinite linear;
        animation: lightning 3s 1s infinite linear;
    }

    .weather__lightning polygon:last-child {
        -webkit-animation: lightning 3s 1.2s infinite linear;
        animation: lightning 3s 1.2s infinite linear;
    }

@-webkit-keyframes rain {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-25px, 35px);
    }
}

@keyframes rain {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-25px, 35px);
    }
}

@-webkit-keyframes thunder {
    0% {
        fill: #fff;
    }

    1% {
        fill: #333;
    }

    2% {
        fill: #fff;
    }

    5% {
        fill: #fff;
    }

    6% {
        fill: #333;
    }

    12% {
        fill: #fff;
    }
}

@keyframes thunder {
    0% {
        fill: #fff;
    }

    1% {
        fill: #333;
    }

    2% {
        fill: #fff;
    }

    5% {
        fill: #fff;
    }

    6% {
        fill: #333;
    }

    12% {
        fill: #fff;
    }
}

@-webkit-keyframes lightning {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    5% {
        opacity: 0;
    }

    6% {
        opacity: 1;
    }

    16% {
        opacity: 0;
    }
}

@keyframes lightning {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    5% {
        opacity: 0;
    }

    6% {
        opacity: 1;
    }

    16% {
        opacity: 0;
    }
}
